ul {
    list-style-type: none;
    display:grid;
    grid-template-columns: auto auto auto;
    padding: 12px;
  }

li {
    text-align: center;
    padding: 12px;
    margin: 12px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2)
 }
